/* Fonts */

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  

/* General */

.bold {
    font-size: 18px;
    font-weight: 500;
}

nav, .nav-link {
    font-size: 22px;
    padding-block: 5px !important;
    background-color: transparent !important;
    color: #fff !important;

}

.navbar {
    background-color: transparent !important;
    color: #fff !important;
}

body {
    font-weight: 400;
    line-height: 25px;
    background-image: linear-gradient(62deg, #ff922b 0%, #F7CE68 100%);
    color: #fff;

}

/* About */

.about-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.about-grid-box:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.about-grid-box:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.about-grid-box:nth-child(3) {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.about-grid-box:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.about-grid-box {
    padding: 1.5vw;
    background-image: linear-gradient(62deg, #ff17172c 0%, #ff953e73 100%);
    backdrop-filter: blur(25px);
    border-radius: 10px;
}

#about-pic {
    border-radius: 100%;
    width: 100%;
}

#logo-pic {
    width: 100%;
    height: 400px;
    display: inline-block;
}

.about-list {
    list-style-type: none;
    padding-left: 0;
}

#social-list {
    margin-top: 30px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    column-gap: 8%;
    font-size: 28px;
}

.container {
    height: calc(100vh - 56px);
}

#home-page {
    display: flex;
    align-items: center;
}

/* Contact */

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.input {
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Gilgan', sans-serif;
    color: #505050;
    border: solid 1px #d7d7d7;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
}

.input.field {
    height: 40px;
    padding-inline: 15px;
}

.input.body {
    height: 30vh;
    resize: none;
    padding-inline: 20px;
    padding-block: 15px;
}

.send-btn {
    height: 35px;
    width: fit-content;
    padding-inline: 12px;
    padding-top: 3px;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'gilgan', sans-serif;
}

.confirmation {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.name-box {
    display: grid;
    grid-template-columns:  calc(50% - 35px / 2) calc(50% - 35px / 2);
    grid-column-gap: 35px;
}

.title-container {
    display: flex;
    gap: 5px;
}

.required {
    color: #e60e33;
    margin-top: -5px;
}

.highlight {
    color: #060808;
}